In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = sns.load_dataset('taxis')

In [23]:
backup = df.copy()

In [3]:
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [4]:
df.shape # rows and columns

(6433, 14)

In [5]:
df.size

90062

In [6]:
df.columns

Index(['pickup', 'dropoff', 'passengers', 'distance', 'fare', 'tip', 'tolls',
       'total', 'color', 'payment', 'pickup_zone', 'dropoff_zone',
       'pickup_borough', 'dropoff_borough'],
      dtype='object')

In [7]:
df.info() #information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB

In [8]:
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [9]:
df.tail()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [11]:
df.sample(10)  # it generates random rows

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
5223,2019-03-21 15:03:55,2019-03-21 15:08:37,1,0.78,5.0,1.66,0.00,9.96,yellow,credit card,East Chelsea,Union Sq,Manhattan,Manhattan
2714,2019-03-28 19:07:31,2019-03-28 19:24:12,4,1.50,11.5,2.00,0.00,17.80,yellow,credit card,Penn Station/Madison Sq West,Gramercy,Manhattan,Manhattan
2959,2019-03-18 22:24:02,2019-03-18 22:32:53,1,3.40,12.0,3.15,0.00,18.95,yellow,credit card,Lower East Side,Greenpoint,Manhattan,Brooklyn
2797,2019-03-13 19:37:19,2019-03-13 19:59:25,1,2.70,15.0,2.00,0.00,21.30,yellow,credit card,Upper East Side North,Midtown South,Manhattan,Manhattan
5216,2019-03-28 15:10:49,2019-03-28 15:30:56,1,3.58,15.5,0.00,0.00,18.80,yellow,cash,Midtown East,Alphabet City,Manhattan,Manhattan
5579,2019-03-31 20:26:31,2019-03-31 20:34:11,1,1.81,8.0,2.41,0.00,14.46,green,credit card,East Harlem North,Upper East Side North,Manhattan,Manhattan
4624,2019-03-07 19:54:40,2019-03-07 19:58:44,1,1.02,5.0,1.00,0.00,10.30,yellow,credit card,Lenox Hill West,Lenox Hill West,Manhattan,Manhattan
5951,2019-03-31 20:31:07,2019-03-31 20:45:38,1,2.27,11.0,0.00,0.00,12.30,green,cash,Prospect Heights,Sunset Park West,Brooklyn,Brooklyn
2682,2019-03-17 21:53:11,2019-03-17 22:18:04,1,8.96,28.5,7.61,5.76,45.67,yellow,credit card,LaGuardia Airport,Upper West Side South,Queens,Manhattan
5554,2019-03-12 15:39:07,2019-03-12 15:49:11,1,1.40,8.5,0.00,0.00,10.30,green,cash,Brooklyn Heights,Fort Greene,Brooklyn,Brooklyn

In [13]:
df[df['tolls']> 0]

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
22,2019-03-28 17:20:54,2019-03-28 17:55:57,1,9.82,31.5,8.31,5.76,49.87,yellow,credit card,LaGuardia Airport,Sutton Place/Turtle Bay North,Queens,Manhattan
43,2019-03-27 19:39:16,2019-03-27 20:00:26,1,9.50,28.0,0.00,5.76,35.06,yellow,cash,LaGuardia Airport,Washington Heights South,Queens,Manhattan
56,2019-03-05 17:57:00,2019-03-05 18:45:25,2,19.59,52.0,0.00,5.76,65.56,yellow,credit card,JFK Airport,Upper East Side North,Queens,Manhattan
92,2019-03-28 07:05:19,2019-03-28 07:41:14,0,10.60,33.5,0.00,5.76,40.06,yellow,credit card,East Tremont,Midtown East,Bronx,Manhattan
104,2019-03-28 13:29:48,2019-03-28 13:56:36,3,9.50,30.0,0.00,5.76,39.06,yellow,cash,Queensboro Hill,Midtown South,Queens,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6279,2019-03-13 13:04:49,2019-03-13 13:44:25,1,12.06,39.0,0.00,2.64,42.44,green,credit card,Co-Op City,University Heights/Morris Heights,Bronx,Bronx
6292,2019-03-05 20:14:04,2019-03-05 21:25:59,1,22.81,70.0,0.00,5.76,77.06,green,credit card,Midwood,East Concourse/Concourse Village,Brooklyn,Bronx
6362,2019-03-08 03:34:43,2019-03-08 04:20:37,1,21.37,62.5,0.00,5.76,69.56,green,credit card,Coney Island,Clinton West,Brooklyn,Manhattan
6383,2019-03-24 19:42:37,2019-03-24 19:59:38,1,8.88,25.5,6.41,5.76,38.47,green,credit card,Flushing,East Harlem North,Queens,Manhattan
6417,2019-03-10 12:10:45,2019-03-10 12:43:05,2,11.17,35.0,0.00,5.76,41.56,green,credit card,Hillcrest/Pomonok,Flatiron,Queens,Manhattan

In [16]:
df.count()

pickup             6433
dropoff            6433
passengers         6433
distance           6433
fare               6433
tip                6433
tolls              6433
total              6433
color              6433
payment            6389
pickup_zone        6407
dropoff_zone       6388
pickup_borough     6407
dropoff_borough    6388
dtype: int64

In [17]:
df[df['pickup'].isna()] it is used to show blank data

Empty DataFrame
Columns: [pickup, dropoff, passengers, distance, fare, tip, tolls, total, color, payment, pickup_zone, dropoff_zone, pickup_borough, dropoff_borough]
Index: []

## IGNORE, FILL WITH 0 OR 1 OR AVERAGE, OR MINIMUM, MAX, REMOVE THE ROW

In [18]:
df['payment']

0       credit card
1              cash
2       credit card
3       credit card
4       credit card
           ...
6428    credit card
6429    credit card
6430           cash
6431    credit card
6432    credit card
Name: payment, Length: 6433, dtype: object

In [19]:
df[df['payment'].isna()]

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
7,2019-03-22 12:47:13,2019-03-22 12:58:17,0,1.4,8.5,0.0,0.00,11.80,yellow,NaN,Murray Hill,Flatiron,Manhattan,Manhattan
445,2019-03-19 06:57:14,2019-03-19 07:00:08,1,1.3,5.5,0.0,0.00,6.30,yellow,NaN,Boerum Hill,Columbia Street,Brooklyn,Brooklyn
491,2019-03-07 07:11:33,2019-03-07 07:11:39,1,1.6,2.5,0.0,0.00,5.80,yellow,NaN,Murray Hill,Murray Hill,Manhattan,Manhattan
545,2019-03-27 11:03:43,2019-03-27 11:14:34,1,4.2,15.0,0.0,0.00,15.80,yellow,NaN,LaGuardia Airport,Forest Hills,Queens,Queens
621,2019-03-15 17:16:35,2019-03-15 17:25:01,1,1.3,7.5,0.0,0.00,11.80,yellow,NaN,Upper East Side North,Upper East Side South,Manhattan,Manhattan
770,2019-03-02 03:16:59,2019-03-02 03:17:06,0,9.4,2.5,0.0,0.00,3.80,yellow,NaN,JFK Airport,JFK Airport,Queens,Queens
913,2019-03-23 11:26:58,2019-03-23 11:35:17,2,1.3,7.5,0.0,0.00,10.80,yellow,NaN,Upper East Side South,Lincoln Square West,Manhattan,Manhattan
953,2019-03-08 02:58:37,2019-03-08 03:19:27,2,6.9,23.5,0.0,0.00,27.30,yellow,NaN,Garment District,Central Harlem North,Manhattan,Manhattan
1207,2019-03-08 15:41:20,2019-03-08 15:41:23,1,0.0,2.5,0.0,0.00,5.80,yellow,NaN,Hudson Sq,Hudson Sq,Manhattan,Manhattan
1372,2019-03-12 09:19:44,2019-03-12 09:43:09,1,1.6,14.5,0.0,0.00,17.80,yellow,NaN,Midtown East,Garment District,Manhattan,Manhattan
1566,2019-03-18 02:20:59,2019-03-18 02:49:24,1,6.0,23.0,0.0,0.00,26.80,yellow,NaN,TriBeCa/Civic Center,Bushwick South,Manhattan,Brooklyn
1690,2019-03-22 06:24:14,2019-03-22 06:24:14,1,0.0,72.0,0.0,0.00,72.00,yellow,NaN,East New York,NaN,Brooklyn,NaN
1704,2019-03-17 04:22:54,2019-03-17 04:44:43,2,4.3,17.5,0.0,0.00,21.30,yellow,NaN,Lower East Side,Bushwick South,Manhattan,Brooklyn
1737,2019-03-29 19:43:51,2019-03-29 19:52:28,1,3.7,12.0,0.0,0.00,13.80,yellow,NaN,JFK Airport,Baisley Park,Queens,Queens
1851,2019-03-02 19:20:18,2019-03-02 19:21:06,1,0.1,2.5,0.0,0.00,5.80,yellow,NaN,Lenox Hill West,Upper East Side South,Manhattan,Manhattan
1860,2019-03-01 11:58:50,2019-03-01 12:10:26,1,0.9,8.5,0.0,0.00,11.80,yellow,NaN,Yorkville West,Upper East Side North,Manhattan,Manhattan
1929,2019-03-13 22:35:35,2019-03-13 22:35:49,1,0.0,2.5,0.0,0.00,3.80,yellow,NaN,JFK Airport,JFK Airport,Queens,Queens
1941,2019-03-30 16:57:00,2019-03-30 17:16:31,2,2.6,14.5,0.0,0.00,17.80,yellow,NaN,Two Bridges/Seward Park,Murray Hill,Manhattan,Manhattan
2353,2019-03-21 10:46:14,2019-03-21 11:06:33,2,2.8,14.0,0.0,0.00,17.30,yellow,NaN,Garment District,Little Italy/NoLiTa,Manhattan,Manhattan
2444,2019-03-10 11:06:54,2019-03-10 11:16:13,1,1.4,8.0,0.0,0.00,11.30,yellow,NaN,Lincoln Square East,Times Sq/Theatre District,Manhattan,Manhattan
3109,2019-03-01 22:48:59,2019-03-01 22:50:37,1,0.0,3.0,0.0,0.00,6.80,yellow,NaN,Times Sq/Theatre District,Times Sq/Theatre District,Manhattan,Manhattan
3372,2019-03-09 13:48:43,2019-03-09 13:59:10,0,1.3,8.5,0.0,0.00,11.80,yellow,NaN,Upper West Side South,Midtown North,Manhattan,Manhattan
3793,2019-03-24 06:07:30,2019-03-24 06:12:22,1,1.5,6.5,0.0,0.00,9.80,yellow,NaN,NaN,Midtown East,NaN,Manhattan
3803,2019-03-28 19:48:00,2019-03-28 20:31:39,1,17.7,52.0,0.0,5.76,65.56,yellow,NaN,JFK Airport,Penn Station/Madison Sq West,Queens,Manhattan
3983,2019-03-06 21:20:27,2019-03-06 22:15:45,0,9.3,41.5,0.0,5.76,51.06,yellow,NaN,Midtown Center,Forest Hills,Manhattan,Queens
4230,2019-03-13 15:39:06,2019-03-13 15:50:27,1,1.8,9.5,0.0,0.00,12.80,yellow,NaN,Midtown Center,Union Sq,Manhattan,Manhattan
4384,2019-03-14 06:58:59,2019-03-14 07:08:24,1,1.8,8.5,0.0,0.00,9.30,yellow,NaN,East Harlem North,Morningside Heights,Manhattan,Manhattan
4474,2019-03-09 00:20:47,2019-03-09 00:27:37,4,0.7,6.0,0.0,0.00,9.80,yellow,NaN,East Village,Stuy Town/Peter Cooper Village,Manhattan,Manhattan
4515,2019-03-31 09:42:47,2019-03-31 09:53:15,1,1.9,9.0,0.0,0.00,12.30,yellow,NaN,Garment District,West Chelsea/Hudson Yards,Manhattan,Manhattan
4562,2019-03-03 23:02:48,2019-03-03 23:02:57,1,0.1,20.0,0.0,0.00,20.80,yellow,NaN,Long Island City/Hunters Point,Long Island City/Hunters Point,Queens,Queens
4746,2019-03-12 07:06:07,2019-03-12 07:06:21,1,1.3,2.5,0.0,0.00,5.80,yellow,NaN,Meatpacking/West Village West,Meatpacking/West Village West,Manhattan,Manhattan
4801,2019-03-26 15:30:50,2019-03-26 15:42:59,1,1.2,9.0,0.0,0.00,12.30,yellow,NaN,TriBeCa/Civic Center,Battery Park City,Manhattan,Manhattan
4842,2019-03-08 02:56:38,2019-03-08 03:07:24,1,2.4,10.5,0.0,0.00,14.30,yellow,NaN,Murray Hill,West Village,Manhattan,Manhattan
4915,2019-03-02 19:01:36,2019-03-02 19:08:46,0,1.4,7.0,0.0,0.00,10.30,yellow,NaN,Upper East Side South,Murray Hill,Manhattan,Manhattan
4955,2019-03-23 11:07:11,2019-03-23 11:32:46,1,0.0,19.0,0.0,0.00,22.30,yellow,NaN,West Village,Upper East Side South,Manhattan,Manhattan
5046,2019-03-15 00:10:38,2019-03-15 00:21:39,1,3.1,12.5,0.0,0.00,16.30,yellow,NaN,West Chelsea/Hudson Yards,Upper West Side South,Manhattan,Manhattan
5068,2019-03-30 11:38:20,2019-03-30 11:40:45,1,0.2,3.5,0.0,0.00,6.80,yellow,NaN,Upper West Side North,Upper West Side North,Manhattan,Manhattan
5207,2019-03-19 12:30:27,2019-03-19 12:49:12,0,2.1,13.0,0.0,0.00,16.30,yellow,NaN,Penn Station/Madison Sq West,Lincoln Square East,Manhattan,Manhattan
5284,2019-03-22 06:24:02,2019-03-22 06:24:11,1,1.7,2.5,0.0,0.00,5.80,yellow,NaN,Midtown North,Midtown North,Manhattan,Manhattan
5586,2019-03-22 22:56:44,2019-03-22 23:02:09,1,1.0,5.5,0.0,0.00,6.80,green,NaN,Hamilton Heights,West Concourse,Manhattan,Bronx
5809,2019-03-02 16:24:08,2019-03-02 16:26:36,1,0.6,4.0,0.0,0.00,4.80,green,NaN,Morningside Heights,Hamilton Heights,Manhattan,Manhattan
5821,2019-03-11 19:36:02,2019-03-11 19:36:14,1,0.1,2.5,0.0,0.00,4.30,green,NaN,Crown Heights South,Crown Heights South,Brooklyn,Brooklyn
6169,2019-03-27 02:11:01,2019-03-27 02:12:03,1,4.1,3.0,0.0,0.00,4.30,green,NaN,Jackson Heights,Jackson Heights,Queens,Queens
6311,2019-03-12 07:10:30,2019-03-12 07:14:18,1,0.7,4.5,0.0,0.00,5.30,green,NaN,Long Island City/Hunters Point,Long Island City/Hunters Point,Queens,Queens

In [24]:
df['payment'].fillna('other', inplace=True)

C:\Users\DIKSHA\AppData\Local\Temp\ipykernel_10028\779328378.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['payment'].fillna('other', inplace=True)

In [26]:
df = backup.copy()

## ADDING A COLUMN

In [27]:
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [28]:
df['profit'] = df['total'] - df['fare'] - df['tip'] - df['tolls']

In [29]:
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,profit
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,3.8
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan,4.3
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan,4.3
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan,3.8
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan,3.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan,0.8
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx,0.8
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn,1.3
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn,0.8
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn,1.8

In [30]:
df['profit'] = df['profit'] /2

In [31]:
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,profit
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,1.90
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan,2.15
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan,2.15
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan,1.90
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan,1.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan,0.40
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx,0.40
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn,0.65
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn,0.40
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn,0.90

In [33]:
df['payment'] = df['payment'].fillna('other')

In [34]:
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,profit
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,1.90
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan,2.15
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan,2.15
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan,1.90
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan,1.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan,0.40
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx,0.40
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn,0.65
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn,0.40
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn,0.90

In [38]:
df.drop('profit', axis=1, inplace=True)  # 1 is used for column and 0 is used for row  it is right code i run twice then it show error

KeyError: "['profit'] not found in axis"

In [39]:
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [41]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6433 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB
None

In [42]:
df[df['pickup_borough'].isna()]

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
42,2019-03-30 23:59:14,2019-03-30 23:59:17,1,0.00,80.0,20.08,0.00,100.38,yellow,credit card,NaN,NaN,NaN,NaN
606,2019-03-19 15:04:40,2019-03-19 15:06:15,1,0.40,3.5,1.35,0.00,8.15,yellow,credit card,NaN,Upper East Side South,NaN,Manhattan
622,2019-03-12 19:52:36,2019-03-12 19:52:55,3,0.00,120.0,33.20,12.50,166.00,yellow,credit card,NaN,NaN,NaN,NaN
671,2019-03-09 22:45:46,2019-03-09 22:46:50,1,0.40,3.5,0.00,0.00,7.30,yellow,cash,NaN,Lincoln Square East,NaN,Manhattan
712,2019-03-03 01:24:45,2019-03-03 01:29:32,1,0.80,5.0,1.75,0.00,10.55,yellow,credit card,NaN,West Chelsea/Hudson Yards,NaN,Manhattan
970,2019-03-29 00:02:00,2019-03-29 00:02:05,2,0.00,45.0,5.00,0.00,50.30,yellow,credit card,NaN,NaN,NaN,NaN
1108,2019-03-10 09:33:13,2019-03-10 09:52:04,1,13.40,52.0,11.70,5.76,70.26,yellow,credit card,NaN,NaN,NaN,NaN
1961,2019-03-19 16:43:59,2019-03-19 17:37:22,1,17.82,52.0,13.11,5.76,78.67,yellow,credit card,NaN,Garment District,NaN,Manhattan
2137,2019-03-08 13:27:32,2019-03-08 13:46:23,1,1.40,12.0,3.05,0.00,18.35,yellow,credit card,NaN,NaN,NaN,NaN
2742,2019-03-23 06:20:27,2019-03-23 06:20:59,1,0.00,55.0,0.00,0.00,55.80,yellow,credit card,NaN,NaN,NaN,NaN
3085,2019-03-24 15:43:02,2019-03-24 16:02:57,1,3.20,14.5,0.00,0.00,15.30,yellow,cash,NaN,NaN,NaN,NaN
3259,2019-03-30 00:39:09,2019-03-30 00:43:34,1,0.84,5.0,1.70,0.00,10.50,yellow,credit card,NaN,NaN,NaN,NaN
3644,2019-03-19 23:30:50,2019-03-19 23:32:33,2,0.00,103.0,20.65,0.00,123.95,yellow,credit card,NaN,NaN,NaN,NaN
3793,2019-03-24 06:07:30,2019-03-24 06:12:22,1,1.50,6.5,0.00,0.00,9.80,yellow,other,NaN,Midtown East,NaN,Manhattan
3889,2019-03-30 06:42:55,2019-03-30 06:43:00,1,0.00,2.5,0.00,0.00,3.30,yellow,cash,NaN,NaN,NaN,NaN
4118,2019-03-15 14:01:54,2019-03-15 14:01:59,1,0.00,25.0,5.06,0.00,30.36,yellow,credit card,NaN,NaN,NaN,NaN
4127,2019-03-01 05:18:21,2019-03-01 05:18:30,2,0.04,2.5,0.00,0.00,3.80,yellow,cash,NaN,NaN,NaN,NaN
4281,2019-03-18 23:29:49,2019-03-18 23:38:00,1,2.10,9.0,2.06,0.00,12.36,yellow,credit card,NaN,NaN,NaN,NaN
4414,2019-03-29 20:42:47,2019-03-29 21:03:50,1,4.20,17.0,4.80,5.76,28.86,yellow,credit card,NaN,NaN,NaN,NaN
4772,2019-03-21 19:51:13,2019-03-21 19:57:03,1,0.72,5.5,1.46,0.00,8.76,yellow,credit card,NaN,NaN,NaN,NaN
4941,2019-03-01 08:12:28,2019-03-01 08:17:19,1,0.83,5.0,2.50,0.00,10.80,yellow,credit card,NaN,NaN,NaN,NaN
5263,2019-03-09 20:37:53,2019-03-09 21:07:20,1,4.99,22.0,5.16,0.00,30.96,yellow,credit card,NaN,NaN,NaN,NaN
5493,2019-03-06 12:14:00,2019-03-06 12:14:00,1,0.00,10.0,0.00,0.00,10.00,green,credit card,NaN,NaN,NaN,NaN
5624,2019-03-11 14:04:50,2019-03-11 14:04:50,1,0.00,2.5,0.00,0.00,3.30,green,cash,NaN,NaN,NaN,NaN
5638,2019-03-13 12:22:00,2019-03-13 12:22:00,1,0.00,10.0,0.00,0.00,10.00,green,credit card,NaN,NaN,NaN,NaN
6083,2019-03-19 15:34:00,2019-03-19 15:34:00,1,0.00,5.0,0.00,0.00,5.00,green,credit card,NaN,NaN,NaN,NaN

In [45]:
df.dropna(subset='pickup_borough', inplace=True)

In [46]:
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn